html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  &_fullscreen {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  &_title {
    font-size: 2rem;
    max-width: 800px;
    text-align: center;
    color: #3d5a5a;
  }
  &_pssst {
    max-width: 800px;
    text-align: center;
    padding-bottom: 1rem;
    color: #5b2f2c;
  }
  &_img {
    width: 300px;
  }
  &--bgcolor {
    background: #000;
    background: linear-gradient(
      343deg,
      rgba(214, 98, 240, 1) 0%,
      rgba(64, 212, 251, 1) 42%,
      rgba(0, 255, 202, 1) 100%
    );
  }
}
